html,
body {
  background-color: #282c34;
}

.container-fluid {
  background-color: #282c34;
  color: white;
}

#grid_row {
  text-align: center;
  margin: auto;
}
.grid_square {
  border: 3px solid #00ffff;
  cursor: pointer;
  width: 50px;
  height: 150px;
  font-weight: bold;
  font-size: 60px;
  padding-top: 22px;
}
.grid_square:hover {
  background-color: rgb(0, 255, 255, 0.3);
}
